<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>key education foundation</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/home/img/uicon.png" rel="icon" />
    <link href="static/home/img/uicon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="static/home//vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="static/home/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link
      href="static/home/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="static/home/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="static/home/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="static/home/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="static/home/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/home/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: OnePage - v2.1.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <img src="img\uicon.png"/>
        <h1 class="logo mr-auto"><a href="index.html"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="static/home/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#empvideo">Parent Empowerment</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Signup</a></li>
            <li><a href="/parent">Parent Empowerment</a></li>
            <li><a href="#faq">FAQs</a></li>

            <!--<li class="drop-down"><a href="">Drop Down</a>
      <ul>
        <li><a href="#">Drop down</a></li>
        <li class="drop-down"><a href="#">Deep Drop Down</a>
          <ul>
            <li><a href="#">Deep Drop Down 1</a></li>
            <li><a href="#">Deep Drop Down 2</a></li>
            <li><a href="#">Deep Drop Down 3</a></li>
            <li><a href="#">Deep Drop Down 4</a></li>
            <li><a href="#">Deep Drop Down 5</a></li>
          </ul>
        </li>
        <li><a href="#">Drop Down 2</a></li>
        <li><a href="#">Drop Down 3</a></li>
        <li><a href="#">Drop Down 4</a></li>
      </ul>
    </li>-->
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->

        <a href="#about" class="get-started-btn scrollto">Get Started</a>
      </div>
    </header>
    <!-- End Header -->
 <br>
 <br>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div
        class="container position-relative"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-9 text-center">
            <h1>Key Eduaction Foundation</h1>
            <!--<h2></h2>-->
          </div>
        </div>
        <div class="text-center">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
        <br />
        <br />
        <br />
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-9 text-center">
            <h2><strong>Importance of Early Education</strong></h2>
            <!--<h2></h2>-->
          </div>
        </div>

        <div class="row icon-boxes">
          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box">
              <div class="icon"><i class="ri-stack-line"></i></div>

              <p class="description">
                90% of a child's brain develops before the age of 6
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon"><i class="ri-palette-line"></i></div>

              <p class="description">Reduce Dropout rates</p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            data-aos="zoom-in"
            data-aos-delay="400"
          >
            <div class="icon-box">
              <div class="icon"><i class="ri-command-line"></i></div>

              <p class="description">
                High returns on investment in early childhood development
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            data-aos="zoom-in"
            data-aos-delay="500"
          >
            <div class="icon-box">
              <div class="icon"><i class="ri-fingerprint-line"></i></div>

              <p class="description">
                Builds strong foundation for better life outcomes
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 style="color:#ff6a00">About Us</h2>
          </div>

          <div class="row content">
            <div class="col-lg-12">
              <p>
                Key Education Foundation aims to give the Best Start in Life to
                every child by providing them a holistic Early Childhood
                Education. We deliver a strong and sustainable School Readiness
                program in schools catering to low-income communities. We work
                with schools, teachers, parents, and children by providing
                age-appropriate, play-based learning material, participative
                teacher training, ongoing program support and periodic workshops
                for parents. Key Education Foundation is a registered Section 8
                NGO.
              </p>
              <a
                href="https://www.keyeducationfoundation.org/"
                class="btn-learn-more"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts section-bg">
        <div class="container">
          <div class="row justify-content-end">
            <div
              class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
            >
              <div class="count-box">
                <span data-toggle="counter-up">50</span>
                <p>Schools</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
            >
              <div class="count-box">
                <span data-toggle="counter-up">5000</span>
                <p>Students</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
            >
              <div class="count-box">
                <span data-toggle="counter-up">150</span>
                <p>Teachers</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
            >
              <div class="count-box">
                <span data-toggle="counter-up">5000</span>
                <p>Families</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= About Video Section ======= -->
      <section id="about-video" class="about-video">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-12 video-box align-self-baseline"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <img
                src="static/home/img/video_img.jpg"
                class="img-fluid"
                alt=""
              />
              <a
                href="https://youtu.be/RfRH7BeTQmo"
                class="venobox play-btn mb-4"
                data-vbtype="video"
                data-autoplay="true"
              ></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Video Section -->

      <!-- ======= Clients Section ======= 
    <section id="clients" class="clients section-bg">
      <div class="container">

          <div class="row">

              <div class="col-lg-1 col-md-8 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                  <img src="static/home/img/clients/new_floder/unnamed.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-8 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                  <img src="static/home/img/clients/new_floder/unnamed1.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-8 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                  <img src="static/home/img/clients/new_floder/unnamed2.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-8 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                  <img src="static/home/img/clients/new_floder/unnamed3.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-8 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                  <img src="static/home/img/clients/new_floder/unnamed4.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-8 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                  <img src="static/home/img/clients/new_floder/unnamed5.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-8 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                  <img src="static/home/img/clients/new_floder/unnamed6.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-2 col-md-8 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                  <img src="static/home/img/clients/new_floder/unnamed7.png" class="img-fluid" alt="">
              </div>

          </div>

      </div>
    </section><!-- End Clients Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 style="color:#ff6a00">Testimonials</h2>
          </div>

          <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                "I have gained a lot of helpful knowledge on how to recognise
                different behaviours and how to help the children in a
                respectful way with solving problems. This has given me the
                tools to use a positive approach to working with children. I
                really liked every aspect of this workshop, as it was really
                helpful with my practice."
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="static/home/img/testimonials/images1jpg.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Gayathri</h3>
              <h4>Teacher</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                "What I gained from the portal was a lot of alternative
                strategies and support to create a more loving, thoughtful
                relationship and home environment - a huge amount of
                information! I liked the teaching - informal, lots of examples
                and the meeting of everyone's needs. The workshop has changed my
                perspective on parenting, oh my, so much. I work in well child
                health and have expectations from the organization of how
                children should beparented - behaviour modification, etc ... I
                touched on aware parenting years ago but felt squashed as most
                people don't support allowing children's feelings, so thank you!
                I feel at peace and empowered to be the parent and the health
                professional I want to be."
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="static/home/img/testimonials/images2.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Navya</h3>
              <h4>Teacher</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                What I gained from the portal was some practical ideas to use
                straight away in work with children. I’ve gained a better
                awareness of myself and how I approach situations,
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="static/home/img/testimonials/images3.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Preethi</h3>
              <h4>Trainer</h4>
            </div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 style="color:#ff6a00">Sevices</h2>
          </div>

          <div class="row">
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <svg
                    width="100"
                    height="100"
                    viewBox="0 0 600 600"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke="none"
                      stroke-width="0"
                      fill="#f5f5f5"
                      d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"
                    ></path>
                  </svg>
                  <i class="bx bxl-dribbble"></i>
                </div>
                <h4><a href="">Traning Modules</a></h4>
                <p>we provide online training modules for School/Teachers</p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box iconbox-orange">
                <div class="icon">
                  <svg
                    width="100"
                    height="100"
                    viewBox="0 0 600 600"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke="none"
                      stroke-width="0"
                      fill="#f5f5f5"
                      d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"
                    ></path>
                  </svg>
                  <i class="bx bx-file"></i>
                </div>
                <h4><a href="">Test skills</a></h4>
                <p>
                  Through various courses we give oppourunity to test your
                  skills
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box iconbox-pink">
                <div class="icon">
                  <svg
                    width="100"
                    height="100"
                    viewBox="0 0 600 600"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke="none"
                      stroke-width="0"
                      fill="#f5f5f5"
                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"
                    ></path>
                  </svg>
                  <i class="bx bx-tachometer"></i>
                </div>
                <h4><a href="">Progress Tracking for Teachers</a></h4>
                <p>
                  Based on performance in the test we will help in tracking
                  progress of teachers
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box iconbox-yellow">
                <div class="icon">
                  <svg
                    width="100"
                    height="100"
                    viewBox="0 0 600 600"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke="none"
                      stroke-width="0"
                      fill="#f5f5f5"
                      d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"
                    ></path>
                  </svg>
                  <i class="bx bx-layer"></i>
                </div>
                <h4><a href="">Progress of Students</a></h4>
                <p>
                  Based on performance of students we will help in tracking
                  progress of Students
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Sevices Section -->

      
<!-- Video Section -->
      <section id="empvideo" class="about-video">
        <div class="container" data-aos="fade-up">
          <div class="row">

            <div class="embed-responsive embed-responsive-21by9">
                 <iframe width="600" height="340" src="https://www.youtube.com/embed/+lastest?list=PLi7eEmku9VQKdsM66YTjffWzVNGYJ2X5g"
                frameborder="0" allowfullscreen></iframe>
                <div id="map"></div>
            </div>
          </div>
        </div>
      </section>




      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 style="color:#ff6a00">Frequently Asked Questions</h2>
          </div>

          <div class="faq-list">
            <ul>
              <li data-aos="fade-up">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" class="collapse" href="#faq-list-1"
                  >What curriculum do you use?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-parent=".faq-list"
                >
                  <p>
                    We use the framework of Teaching strategies creative
                    ciriculam which is appropriate for childern at age 3-6.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-2" class="collapsed"
                  >How will I be informed of my child’s progress?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                  <p>
                    We will track the progress of our students.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-3" class="collapsed"
                  >Who will be teaching my child?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                  <p>
                    Teachers who are proficiently trained by our curriculum.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End Frequently Asked Questions Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 style="color:#ff6a00">Contact</h2>
          </div>

          <div>
            <iframe
              style="border: 0; width: 100%; height: 270px;"
              src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3926346.3327698847!2d75.9221751834589!3d16.04874128585019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d17.4512177!2d78.53485069999999!4m5!1s0x3bae133d60bbd0b3%3A0x9884eb5a93445315!2sKey%20Education%20Foundation%2C%20568%2C%201st%20Floor%2C%2017th%20A%20Main%20Rd%2C%206th%20Block%2C%20Koramangala%2C%20Bengaluru%2C%20Karnataka%20560095!3m2!1d12.937027599999999!2d77.625721!5e0!3m2!1sen!2sin!4v1596888855921!5m2!1sen!2sin"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>

          <div class="row mt-5">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>
                    568, 1st Floor, 17th A Main Rd, 6th Block, Koramangala,
                    Bengaluru, Karanataka 560095
                  </p>
                </div>

                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>keydecucation@example.com</p>
                </div>

                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 9889 55488 55s</p>
                </div>
              </div>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 8 chars of subject"
                  />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    data-rule="required"
                    data-msg="Please write something for us"
                    placeholder="Message"
                  ></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3 style="color:#ff6a00">Key Education</h3>
              <p>
                568, 1st Floor, 17th A Main Rd, 6th Block, Koramangala,
                Bengaluru, Karnataka 560095 <br />
                <br />
                <br /><br />
                <strong>Phone:</strong> +91 9889 55488 55<br />
                <strong>Email:</strong> keyeducation@bengaluru.com<br />
              </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <!--<div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>-->
          </div>
        </div>
      </div>

      <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong><span>OnePage</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/home/vendor/jquery/jquery.min.js"></script>
    <script src="static/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/home/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/home/vendor/php-email-form/validate.js"></script>
    <script src="static/home/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/home/vendor/counterup/counterup.min.js"></script>
    <script src="static/home/vendor/venobox/venobox.min.js"></script>
    <script src="static/home/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/home/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/home/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="static/home/js/main.js"></script>
  </body>
</html>
