<!DOCTYPE html>
<html lang="en">
		<!-- Stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href='static/teacher/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
		<link href="static/teacher/css/vertical-responsive-menu.min.css" rel="stylesheet">
		<link href="static/teacher/css/style.css" rel="stylesheet">
		<link href="static/teacher/css/responsive.css" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="static/teacher/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="static/teacher/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
		<link href="static/teacher/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
		<link href="static/teacher/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/teacher/vendor/semantic/semantic.min.css">	
		
	</head> 

<body class="coming_soon_style">
	<div class="wrapper coming_soon_wrapper">		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cmtk_group">
						<div class="ct-logo">
							<a href="#"><img src="static/teacher/assets/logo.png" alt=""></a>
						</div>
						<div class="cmtk_dt">
							<h1 class="title_404">404</h1>
							<h4 class="thnk_title1">The page you were looking for could not be found.</h4>
							<a href="/" class="bk_btn">Go To Homepage</a>
						</div>
					</div> 	
				</div>	
			</div>	
		</div>		
	</div>	
	<script src="static/teacher/js/jquery-3.3.1.min.js"></script>
	<script src="static/teacher/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="static/teacher/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="static/teacher/vendor/semantic/semantic.min.js"></script>
	<script src="static/teacher/js/custom.js"></script>	
</body>
</html>