{% extends "layout.html" %}
{% block content %}

<!-- Jumbotron Part -->

<div class="jumbotron">
  <h1 class="display-4">Hello Parents!</h1>
  <p class="lead">Did you know, that 90% of the brain development happens before the age of 6.</p>
  <hr class="my-4">
  <p>Don't let your ward miss out on that development. We can and want to help you guys!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


<!-- Card section -->
<div class="row">

  <div class="card col-xs-6 m-auto" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Seminar 1</h5>
      <p class="card-text">Don't miss out on this important seminar
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card col-xs-6 m-auto" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Seminar 1</h5>
      <p class="card-text">Don't miss out on this important seminar
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>






<!-- Video Section -->
<div class="embed-responsive embed-responsive-21by9">
  <iframe width="600" height="340" src="https://www.youtube.com/embed/+lastest?list=PLi7eEmku9VQKdsM66YTjffWzVNGYJ2X5g"
    frameborder="0" allowfullscreen></iframe>
  <div id="map"></div>





</div>


{% endblock content %}