{% extends "teacher_layout.html" %}
{% block content %}
    <!-- Body Start -->
    <div class="wrapper">
      <div class="sa4d25">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-9 col-lg-8">
              <div class="section3125 mt-50">
                <div class="_215zd5">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="title484">
                          <h1>Self Training Modules</h1>
                          <img
                            class="line-title"
                            src="static/teacher/images/line.svg"
                            alt=""
                          />
                          <p>
                            Key Education Foundation offers teacher training for
                            early educators on a variety of topics that help
                            make teaching and learning practices in the
                            classroom developmentally appropriate, play based
                            and effective. Welcome to our online training space.
                            Here you will have access to all our training topics
                            designed as short modules. You can take your
                            learning into your own hands and grow into an
                            excellent early childhood educator.
                          </p>
                          <br />
                          <!-- <div class="_htg452">
													<h3>Requirements</h3>
													<ul>
														<li><span class="_5f7g11">Have a computer with Internet</span></li>
														<li><span class="_5f7g11">Be ready to learn an insane amount of awesome stuff</span></li>
														<li><span class="_5f7g11">Prepare to build real web apps!</span></li>
													</ul>
												</div>
												<br> -->
                          <div class="_htg452">
                            <h3>How does STM work</h3>
                            <ul>
                              <li>
                                <span class="_5f7g11"
                                  >You will have all the modules available to
                                  choose from the Courses page
                                </span>
                              </li>
                              <li>
                                <span class="_5f7g11"
                                  >Once you select a module, you will be taken
                                  to the content area</span
                                >
                              </li>
                              <li>
                                <span class="_5f7g11"
                                  >Here you will get to watch videos, read about
                                  the topic, answer questions, take quizzes and
                                  reflect, to learn more about the topic</span
                                >
                              </li>
                              <br />
                              <img
                                class="line-title"
                                src="static/teacher/images/line.svg"
                                alt=""
                              />
                              <li>
                                <span class="_5f7g11"
                                  >To learn how to use this platform, watch a
                                  video by clicking HERE.</span
                                >
                              </li>
                              <li>
                                <span class="_5f7g11"
                                  >It is recommended that you take the modules
                                  in the order of the numbering. You will be
                                  eligible for an online certificate upon
                                  completion of all modules under Introduction
                                  to ECE course.</span
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-md-6">
                        <div class="story125">
                          <img
                            src="static/teacher/images/about/company.jpg"
                            alt=""
                          />
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                &nbsp;
                <h4 class="item_title">Available Modules</h4>
                <br />
                <a href="#" class="see150">See all</a>
                <div class="la5lo1">
                  <div class="owl-carousel featured_courses owl-theme">
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a
                          href="{{ url_for('course_modules') }}"
                          class="fcrse_img"
                        >
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="/course_modules" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- DEMO ITEMS -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- Item -->
                    <div class="item">
                      <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                          <img
                            src="static/teacher/images/courses/img-1.jpg"
                            alt=""
                          />
                          <div class="course-overlay">
                            <div class="badge_seller">Introduction</div>
                            <span class="play_btn1"
                              ><i class="uil uil-play"></i
                            ></span>
                            <div class="crse_timer">
                              8 hours
                            </div>
                          </div>
                        </a>
                        <div class="fcrse_content">
                          <div class="eps_dots more_dropdown">
                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                            <div class="dropdown-content">
                              <span><i class="uil uil-heart"></i>Save</span>
                              <span
                                ><i class="uil uil-ban"></i>Not Interested</span
                              >
                              <span
                                ><i class="uil uil-windsock"></i>Report</span
                              >
                            </div>
                          </div>
                          <!-- <div class="vdtodt">
													<span class="vdt14">109k views</span>
													<span class="vdt14">15 days ago</span>
												</div> -->
                          <a href="course_detail_view.html" class="crse14s"
                            >Introduction to ECE</a
                          >
                          <a href="#" class="crse-cate"
                            >This section is the introductory course offered by
                            Key Education Foundation on Early Childhood
                            Education (ECE). It will give you all the
                            principles, practices and skills required to
                            effectively execute the Key Education Foundation
                            curriculum in your classroom.
                          </a>
                          <div class="auth1lnkprce">
                            <p class="cr1fot">By <a href="#">KEF Team</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item Ends -->
                    <!-- DEMO ITEMS END -->
                  </div>
                </div>
              </div>
              <!-- COMPLETED COURSES PANEL -->
              <!-- <div class="section3125 mt-50">
							<h4 class="item_title">Self Training Modules</h4>
						</div> -->
              <div class="section3126">
                <div class="row">
                  <div class="col-xl-6 col-lg-12 col-md-6">
                    <div class="value_props">
                      <div class="value_icon">
                        <i class="uil uil-history"></i>
                      </div>
                      <div class="value_content">
                        <h4>
                          Engage with new topics in early childhood education
                        </h4>
                        <p>- Perks -</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-6">
                    <div class="value_props">
                      <div class="value_icon">
                        <i class="uil uil-user-check"></i>
                      </div>
                      <div class="value_content">
                        <h4>
                          Compensate for missed in-person trainings organised by
                          KEF
                        </h4>
                        <p>- Perks -</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-6">
                    <div class="value_props">
                      <div class="value_icon">
                        <i class="uil uil-play-circle"></i>
                      </div>
                      <div class="value_content">
                        <h4>Find video courses on almost any topic</h4>
                        <p>- Perks -</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-6">
                    <div class="value_props">
                      <div class="value_icon">
                        <i class="uil uil-presentation-play"></i>
                      </div>
                      <div class="value_content">
                        <h4>
                          Revise topics on early childhood education to improve
                          classroom practices
                        </h4>
                        <p>- Perks -</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- PROFILE DETAILS -->
            <div class="col-xl-3 col-lg-4">
              <div class="right_side">
                <div class="fcrse_2 mb-30">
                  <div class="tutor_img">
                    <a href="my_instructor_profile_view.html"
                      ><img
                        src="static/teacher/images/left-imgs/img-10.jpg"
                        alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a
                        href="/profile"
                        class="tutor_name"
                        >Teacher's Name</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <span>teachername@mailID.com</span>
                    <div class="tutor_cate">SCHOOL NAME</div>
                    <!-- <ul class="tutor_social_links">
										<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
										<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
									</ul> -->
                    <a
                      href="/profile"
                      class="prfle12link"
                      >Go To Your Profile Profile</a
                    >
                  </div>
                </div>
                <div class="strttech120">
                  <h4>Any Queries ?</h4>
                  <p>Please mail your query to hello@mail.com.</p>
                </div>
              </div>
            </div>
            <!-- PROFILE DETAILS END  -->
          </div>
        </div>
      </div>
      {% endblock content %}