<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KEF - Self Training Modules</title>
    <link rel="icon" type="image/png" href="static/teacher/assets/logo.png" />
    <link
      href="http://fonts.googleapis.com/css?family=Roboto:400,700,500"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/vendor//unicons-2.0.1/css/unicons.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/css/vertical-responsive-menu.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/css/style.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/css/responsive.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/css/night-mode.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/vendor//fontawesome-free/css/all.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/vendor//OwlCarousel/assets/owl.carousel.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/vendor//OwlCarousel/assets/owl.theme.default.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='teacher/vendor//bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='teacher/vendor//semantic/semantic.min.css') }}"
    />
  </head>

  <body>
    <!-- Header Start -->
    <header class="header clearfix">
      <button type="button" id="toggleMenu" class="toggle_menu">
        <i class="uil uil-bars"></i>
      </button>
      <button id="collapse_menu" class="collapse_menu">
        <i class="uil uil-bars collapse_menu--icon"></i>
        <span class="collapse_menu--label"></span>
      </button>
      <div class="main_logo" id="logo">
        <a href="index.html"
          ><img
            src="static/teacher/assets/logo.png"
            style="max-width: 60px;"
            alt=""
        /></a>
      </div>
      <div class="header_right">
        <ul>
          <li class="ui dropdown">
            <a href="#" class="opts_account" title="Account">
              <img src="static/teacher/images/hd_dp.jpg" alt="" />
            </a>
            <div class="menu dropdown_account">
              <div class="channel_my">
                <div class="profile_link">
                  <img src="static/teacher/images/hd_dp.jpg" alt="" />
                  <div class="pd_content">
                    <div class="rhte85">
                      <h6>Teacher Name</h6>
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <span>teachername@mailID.com</span>
                  </div>
                </div>
              </div>
              <a href="setting.html" class="item channel_item">Setting</a>
              <a href="help.html" class="item channel_item">Help</a>
              <a href="feedback.html" class="item channel_item"
                >Send Feedback</a
              >
              <a href="sign_in.html" class="item channel_item">Sign Out</a>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <!-- Header End -->
    <!-- Left Sidebar Start -->
    <nav class="vertical_nav">
      <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
          <ul>
            <li class="menu--item">
              <a href="index.html" class="menu--link active" title="Home">
                <i class="uil uil-home-alt menu--icon"></i>
                <span class="menu--label">Home</span>
              </a>
            </li>
            <li class="menu--item">
              <a href="explore.html" class="menu--link" title="Explore">
                <i class="uil uil-search menu--icon"></i>
                <span class="menu--label">Explore</span>
              </a>
            </li>
            <li class="menu--item menu--item__has_sub_menu">
              <label class="menu--link" title="Categories">
                <i class="uil uil-layers menu--icon"></i>
                <span class="menu--label">Categories</span>
              </label>
              <ul class="sub_menu">
                <li class="sub_menu--item">
                  <a href="#" class="sub_menu--link">Category Name</a>
                </li>
              </ul>
            </li>
            <li class="menu--item menu--item__has_sub_menu">
              <label class="menu--link" title="Tests">
                <i class="uil uil-clipboard-alt menu--icon"></i>
                <span class="menu--label">Tests</span>
              </label>
              <ul class="sub_menu">
                <li class="sub_menu--item">
                  <a href="certification_center.html" class="sub_menu--link"
                    >Certification Center</a
                  >
                </li>
                <li class="sub_menu--item">
                  <a href="certification_start_form.html" class="sub_menu--link"
                    >Certification Fill Form</a
                  >
                </li>
                <li class="sub_menu--item">
                  <a href="certification_test_view.html" class="sub_menu--link"
                    >Test View</a
                  >
                </li>
                <li class="sub_menu--item">
                  <a
                    href="certification_test__result.html"
                    class="sub_menu--link"
                    >Test Result</a
                  >
                </li>
                <li class="sub_menu--item">
                  <a href="#" class="sub_menu--link">My Certification</a>
                </li>
              </ul>
            </li>
            <li class="menu--item">
              <a
                href="saved_courses.html"
                class="menu--link"
                title="Saved Courses"
              >
                <i class="uil uil-heart-alt menu--icon"></i>
                <span class="menu--label">Saved Courses</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="left_section pt-2">
          <ul>
            <li class="menu--item">
              <a href="setting.html" class="menu--link" title="Setting">
                <i class="uil uil-cog menu--icon"></i>
                <span class="menu--label">Setting</span>
              </a>
            </li>
            <li class="menu--item">
              <a href="help.html" class="menu--link" title="Help">
                <i class="uil uil-question-circle menu--icon"></i>
                <span class="menu--label">Help</span>
              </a>
            </li>
            <li class="menu--item">
              <a href="feedback.html" class="menu--link" title="Send Feedback">
                <i class="uil uil-comment-alt-exclamation menu--icon"></i>
                <span class="menu--label">Send Feedback</span>
              </a>
            </li>
            <li class="menu--item">
              <a href="feedback.html" class="menu--link" title="Send Feedback">
                <i class="uil uil-comment-alt-exclamation menu--icon"></i>
                <span class="menu--label">Sign out</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="left_footer">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="terms_of_use.html">Terms</a></li>
          </ul>
          <div class="left_footer_content">
            <p>© 2020 <strong>BUILD</strong>.GPL-License 2.0.</p>
          </div>
        </div>
      </div>
    </nav>
    <!-- Left Sidebar End -->
    <!-- Body Start -->
    <div class="wrapper">
      <div class="sa4d25">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="st_title"><i class="uil uil-cog"></i> Setting</h2>
              <div class="setting_tabs">
                <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="pills-account-tab"
                      data-toggle="pill"
                      href="#pills-account"
                      role="tab"
                      aria-selected="true"
                      >Account</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="pills-notification-tab"
                      data-toggle="pill"
                      href="#pills-notification"
                      role="tab"
                      aria-selected="false"
                      >Notification</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="pills-closeaccount-tab"
                      data-toggle="pill"
                      href="#pills-closeaccount"
                      role="tab"
                      aria-selected="false"
                      >Close Account</a
                    >
                  </li>
                </ul>
              </div>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-account"
                  role="tabpanel"
                  aria-labelledby="pills-account-tab"
                >
                  <div class="account_setting">
                    <div class="basic_profile">
                      <div class="basic_ptitle">
                        <h4>Basic Profile</h4>
                        <p>Add information about yourself</p>
                      </div>
                      <div class="basic_form">
                        <div class="row">
                          <div class="col-lg-8">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="ui search focus mt-30">
                                  <div class="ui left icon input swdh11 swdh19">
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="name"
                                      value="Joginder"
                                      id="id[name]"
                                      required=""
                                      maxlength="64"
                                      placeholder="First Name"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="ui search focus mt-30">
                                  <div class="ui left icon input swdh11 swdh19">
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="surname"
                                      value="Singh"
                                      id="id[surname]"
                                      required=""
                                      maxlength="64"
                                      placeholder="Last Name"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="ui search focus mt-30">
                                  <div class="ui left icon input swdh11 swdh19">
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="headline"
                                      value="I  am a Web Designer"
                                      id="id_headline"
                                      required=""
                                      maxlength="60"
                                      placeholder="Headline"
                                    />
                                    <div
                                      class="form-control-counter"
                                      data-purpose="form-control-counter"
                                    >
                                      36
                                    </div>
                                  </div>
                                  <div class="help-block">
                                    Add a professional headline like, "Engineer
                                    at Cursus" or "Architect."
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="ui search focus mt-30">
                                  <div class="ui form swdh30">
                                    <div class="field">
                                      <textarea
                                        rows="3"
                                        name="description"
                                        id="id_about"
                                        placeholder="Write a little description about you..."
                                      ></textarea>
                                    </div>
                                  </div>
                                  <div class="help-block">
                                    Links and coupon codes are not permitted in
                                    this section.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="divider-1"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="basic_profile1">
                      <div class="basic_ptitle">
                        <h4>Profile Links</h4>
                      </div>
                      <div class="basic_form">
                        <div class="row">
                          <div class="col-lg-8">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="ui search focus mt-30">
                                  <div
                                    class="ui left icon labeled input swdh11 swdh31"
                                  >
                                    <div class="ui label lb12">
                                      https://
                                    </div>
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="site"
                                      value=""
                                      id="id_site"
                                      required=""
                                      maxlength="64"
                                      placeholder="yoursite.com"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="ui search focus mt-30">
                                  <div
                                    class="ui left icon labeled input swdh11 swdh31"
                                  >
                                    <div class="ui label lb12">
                                      http://facebook.com/
                                    </div>
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="facebooklink"
                                      id="id_facebook"
                                      required=""
                                      maxlength="64"
                                      placeholder="Facebook Profile"
                                    />
                                  </div>
                                  <div class="help-block">
                                    Add your Facebook username (e.g. johndoe).
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="ui search focus mt-30">
                                  <div
                                    class="ui left icon labeled input swdh11 swdh31"
                                  >
                                    <div class="ui label lb12">
                                      http://twitter.com/
                                    </div>
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="twitterlink"
                                      id="id_twitter"
                                      required=""
                                      maxlength="64"
                                      placeholder="Twitter Profile"
                                    />
                                  </div>
                                  <div class="help-block">
                                    Add your Twitter username (e.g. johndoe).
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="ui search focus mt-30">
                                  <div
                                    class="ui left icon labeled input swdh11 swdh31"
                                  >
                                    <div class="ui label lb12">
                                      http://www.linkedin.com/
                                    </div>
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="linkedinlink"
                                      id="id_linkedin"
                                      required=""
                                      maxlength="64"
                                      placeholder="Linkedin Profile"
                                    />
                                  </div>
                                  <div class="help-block">
                                    Input your LinkedIn resource id (e.g.
                                    in/johndoe).
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="ui search focus mt-30">
                                  <div
                                    class="ui left icon labeled input swdh11 swdh31"
                                  >
                                    <div class="ui label lb12">
                                      http://www.youtube.com/
                                    </div>
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="youtubelink"
                                      id="id_youtube"
                                      required=""
                                      maxlength="64"
                                      placeholder="Youtube Profile"
                                    />
                                  </div>
                                  <div class="help-block">
                                    Input your Youtube username (e.g. johndoe).
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="save_btn" type="submit">Save Changes</button>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-notification"
                  role="tabpanel"
                  aria-labelledby="pills-notification-tab"
                >
                  <div class="account_setting">
                    <h4>Notifications - Choose when and how to be notified</h4>
                    <p>
                      Select push and email notifications you'd like to receive
                    </p>
                    <div class="basic_profile">
                      <div class="basic_form">
                        <div class="nstting_content">
                          <div class="basic_ptitle">
                            <h4>Choose when and how to be notified</h4>
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss1" checked />
                            <label>Subscriptions</label>
                            <p class="ml5">
                              Notify me about activity from the profiles I'm
                              subscribed to
                            </p>
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss2" />
                            <label>Recommended Courses</label>
                            <p class="ml5">
                              Notify me of courses I might like based on what I
                              watch
                            </p>
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss3" />
                            <label>Activity on my comments</label>
                            <p class="ml5">
                              Notify me about activity on my comments on others’
                              courses
                            </p>
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss4" checked />
                            <label>Replies to my comments</label>
                            <p class="ml5">
                              Notify me about replies to my comments
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider-1 mb-50"></div>
                    <div class="basic_profile">
                      <div class="basic_form">
                        <div class="nstting_content">
                          <div class="basic_ptitle">
                            <h4>Email notifications</h4>
                            <p>
                              Your emails are sent to gambol943@gmail.com. To
                              unsubscribe from an email, click the "Unsubscribe"
                              link at the bottom of it.
                              <a href="#">Learn more</a> about emails from
                              Edututs+.
                            </p>
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss5" checked />
                            <label
                              >Send me emails about my Cursus activity and
                              updates I requested</label
                            >
                            <p class="ml5">
                              If this setting is turned off, Cursus may still
                              send you messages regarding your account, required
                              service announcements, legal notifications, and
                              privacy matters
                            </p>
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss6" />
                            <label
                              >Promotions, course recommendations, and helpful
                              resources from Cursus.</label
                            >
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss7" />
                            <label
                              >Announcements from instructors whose course(s)
                              I’m enrolled in.</label
                            >
                            <p class="ml5">
                              To adjust this preference by course, leave this
                              box checked and go to the course dashboard and
                              click on "Options" to opt in or out of specific
                              announcements.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="save_btn" type="submit">Save Changes</button>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-privacy"
                  role="tabpanel"
                  aria-labelledby="pills-privacy-tab"
                >
                  <div class="account_setting">
                    <h4>Privacy</h4>
                    <p>Modify your privacy settings here.</p>
                    <div class="basic_profile">
                      <div class="basic_form">
                        <div class="nstting_content">
                          <div class="basic_ptitle">
                            <h4>Profile page settings</h4>
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss8" checked />
                            <label>Show your profile on search engines</label>
                          </div>
                          <div class="ui toggle checkbox _1457s2">
                            <input type="checkbox" name="stream_ss9" />
                            <label
                              >Show courses you're taking on your profile
                              page</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="save_btn" type="submit">Save Changes</button>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer mt-30">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="item_f1">
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Careers</a>
                <a href="#">Press</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="item_f1">
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Careers</a>
                <a href="#">Press</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="item_f1">
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Careers</a>
                <a href="#">Press</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="item_f3">
                <a href="#" class="btn1542">Get Certfied by KEF | STM</a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="footer_bottm">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="fotb_left">
                      <li>
                        <a href="index.html">
                          <div class="footer_logo">
                            <img src="static/teacher/assets/logo.png" alt="" />
                          </div>
                        </a>
                      </li>
                      <li>
                        <p>© 2020 <strong>BUILD</strong>.GPL-License 2.0</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <div class="edu_social_links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                      <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Body End -->
    <script src="{{ url_for('static',filename='teacher/js/vertical-responsive-menu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='teacher/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='teacher/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='teacher/vendor/OwlCarousel/owl.carousel.js') }}"></script>
    <script src="{{ url_for('static',filename='teacher/vendor/semantic/semantic.min.js') }}"></script>
    <script src="{{ url_for('static',filename='teacher/js/custom.js') }}"></script>
    <script src="{{ url_for('static',filename='teacher/js/night-mode.js') }}"></script>
  </body>
</html>
